<mat-card *ngIf="photoData" class="card">
  <mat-card-header>
    <mat-card-title>{{ photoData.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="img-container">
      <img
        mat-card-image
        [src]="photoData.thumbnail"
        alt="Photo {{ photoData.title }}"
      />
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-stroked-button
      matTooltip="Delete from favorites"
      color="accent"
      (click)="removeFromFavorites(photoData.id)"
    >
      Remove from favorites
    </button>
  </mat-card-actions>
</mat-card>
