.error {
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  &__btn {
    cursor: pointer;
    transition: all 0.4s ease-in;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__title {
    margin-left: 10px;
    font-size: 24px;
    color: #828282;
  }
}
